body {
    margin: 0px;
    font-family: Tahoma, sans-serif;
    background-color: #F0ECE9;
    color: #252629;
    font-size: 12pt;
}

.header-flex {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: #252629;
    width: 100%;
}

.header-title {
    flex: 1 1 50%;
    text-align: center;
    margin: 0px;
    padding: 10px 10px;
    color: #f0ece9;
    font-size: 18pt;
}

.header-container::after, .header-container::before {
    content: "";
    height: 10px;
    background-color: #CB3F2A;
    display: block;
}

.main-content-box {
    padding: 10px 20px;
}

.dashboard-container {
    display: flex;
    flex-flow: row nowrap;
    height: 100%;
    width: 100%;
    justify-content: start;
    align-items: normal;
}

.card {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: flex-start;
    flex: 1 1 100%;
    padding: 0px 10px;
    margin: 0px;
}

.card-row {
    flex: 1 1 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: stretch;
}

.card-row::after, .card-row::before{
    content: "";
    height: 5px;
    background-color: #FD9653;
    border: 1px solid #CB3F2A;
    width:100%;
    display: block;
}

.card-section {
    flex: 1 1 auto;
    color: #CB3F2A;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10px 0px;
    border-bottom: 2px solid #CB3F2A;
}

.card-section:last-child {
    border-bottom: 0px;
}

.card-element-row {
    flex: 1 1 auto;
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
    justify-content: start;
    padding: 0px 0px;
}


.card-element {
    flex: 1 1;
    display: flex;
    flex-flow: row nowrap;
    align-items: baseline;
    justify-content: flex-start;
    padding: 2px 20px 2px 0px;
}

.card-element-label {
    flex: 0 0 auto;
    font-weight: bold;
    display: block;
    padding: 2px 5px 2px 0px;
}

.card-element-value {
    flex: 0 0 auto;
    padding: 2px 5px 2px 0px;
    font-size: 12pt;
}

.card-element-message {
    flex: 1 1;
    padding: 0px;
    padding-left: 10px;
    font-size: small;
    font-style: italic;
    color: #CB3F2A;
}

.centre-aligned {
    align-items: center
}

.main {
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    align-items: flex-start;
    height: 100%;
    width: 100%;
}

.nav-sidebar {
    flex: 0 0 220px;
    width: 220px;
}

.nav-sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 10px 0px 10px 0px;
}

.nav-sidebar li {
    padding: 5px 5px 5px 14px;
}

.nav-sidebar li.active-item {
    border-left: 4px solid #FD9653;
    padding: 5px 5px 5px 10px;
    font-weight: bold;
}

.nav-sidebar a:link, .nav-sidebar a:visited {
    color: #252629;
    text-decoration: none;
}

.nav-sidebar a:hover, .nav-sidebar a:active {
    border-bottom: 2px solid #252629;
    padding: 3px 0px
}

.page-content {
    flex: 1 1 100%;
}

.dnd-hint {
    flex: 1 1 auto;
    font-size: small;
    font-style: italic;
    color: #758ECD;
}

.rc-slider-dot {
    border-color: #252629
}

.rc-slider-handle, .rc-slider-dot-active {
    border-color: #FD9653;
}

.rc-slider-track {
    background-color: #FD9653;
}

.rc-slider-rail {
    background-color: #252629;
}

.rc-slider-mark-text {
    color: #252629 !important;
}

.control-short-text {
    min-width: 10em;
    background-color: #FFFFFF;
    border-bottom: 2px solid #CB3F2A;
    padding: 3px 3px 2px 3px
}
